<div class="flex flex-col px-6 py-8 gap-3 ">
  <!-- Header -->
  <div class="bg-white rounded-2xl shadow-xl p-6 flex flex-col gap-2">
    <div class="flex items-center">
      <mat-icon class="text-xl text-am-main-blue-dark mb-1">inventory_2</mat-icon>
      <div class="ml-2 text-xl font-semibold italic text-am-main-blue-dark">
        Precios PT Expo
      </div>
    </div>
  </div>

  <!-- Formulario -->
  <div class="bg-white rounded-2xl shadow-xl p-6 flex flex-col gap-2">
    <form [formGroup]="form" class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-0">

      <!-- Código -->
      <mat-form-field appearance="outline">
        <mat-label>Código</mat-label>
        <input type="text" matInput formControlName="code" [matAutocomplete]="autoCode"
               (keyup.enter)="onSelectProduct(form.get('code')?.value)">
        <button mat-icon-button matSuffix type="button"
                (click)="onSelectProduct(form.get('code')?.value)">
          <mat-icon>search</mat-icon>
        </button>
        <mat-autocomplete #autoCode="matAutocomplete"
                          (optionSelected)="onSelectProduct($event.option.value)">
          <mat-option *ngFor="let option of filteredCodes$ | async" [value]="option.code">
            {{ option.code }} - {{ option.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Nombre -->
      <mat-form-field appearance="outline">
        <mat-label>Nombre Producto</mat-label>
        <input type="text" matInput formControlName="productName"
               [matAutocomplete]="autoName"
               (keyup.enter)="onSelectProduct(form.get('code')?.value)">
        <mat-autocomplete #autoName="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let option of filteredNames$ | async" 
                      [value]="option.description"
                      (onSelectionChange)="onSelectProduct(option.code)">
            {{ option.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Sublinea -->
      <mat-form-field appearance="outline" class="editable-field">
        <mat-label>Código Sublinea</mat-label>
        <input matInput formControlName="sublineCode">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nombre Sublinea</mat-label>
        <input matInput formControlName="sublineName" readonly>
      </mat-form-field>

      <!-- Costo -->
      <mat-form-field appearance="outline" class="editable-field">
        <mat-label>Costo</mat-label>
        <input matInput formControlName="cost"  type="text">
      </mat-form-field>
      <!-- Tasa de cambio -->
      <mat-form-field appearance="outline">
        <mat-label>Tasa de cambio</mat-label>
        <input matInput formControlName="exchangeRate" readonly>
      </mat-form-field>

      <!-- Margen -->
      <mat-form-field appearance="outline" class="editable-field">
        <mat-label>Margen (%)</mat-label>
        <input matInput formControlName="margin" type="number" (blur)="validateMargin()">
      </mat-form-field>

      <!-- Precio Venta COP -->
      <mat-form-field appearance="outline">
        <mat-label>Precio Venta COP</mat-label>
        <input matInput formControlName="salePriceCop" numberFormat type="text" readonly />
      </mat-form-field>

      <!-- Precio Venta USD -->
      <mat-form-field appearance="outline">
        <mat-label>Precio Venta USD</mat-label>
        <input matInput formControlName="salePriceUsd" numberFormat type="text" readonly />
      </mat-form-field>

      <!-- Multiplicador -->
      <mat-form-field appearance="outline" class="editable-field">
        <mat-label>Multiplicador</mat-label>
        <input matInput formControlName="multiplier" type="number" step="0.0001">
      </mat-form-field>

      <!-- Multiplicador Distribuidor -->
      <mat-form-field appearance="outline" class="editable-field">
        <mat-label>Multiplicador Distribuidor</mat-label>
        <input matInput formControlName="distributorMultiplier" type="number" step="0.0001">
      </mat-form-field>

      <!-- Precio Base USD -->
      <mat-form-field appearance="outline" class="editable-field">
        <mat-label>Precio Base USD</mat-label>
        <input matInput formControlName="basePriceUsd"  type="text" />
      </mat-form-field>

    </form>

    <!-- Botones -->
    <div class="flex justify-end mt-4 gap-2">
      <button mat-raised-button color="warn" type="button" (click)="clearForm()">
        <mat-icon>clear</mat-icon>
        Limpiar
      </button>

      <button mat-raised-button color="primary" type="button" (click)="save()">
        <mat-icon>save</mat-icon>
        Guardar
      </button>
    </div>
  </div>
</div>
