<div class="h-screen flex flex-col px-6 py-6 gap-4 overflow-hidden">
  <div class="bg-white rounded-2xl shadow-xl p-6 flex flex-col gap-4">
    <div class="flex items-center justify-between flex-wrap gap-4">
      <div class="flex items-center">
        <mat-icon class="text-xl text-am-main-blue-dark mb-1">{{ currentIcon }}</mat-icon>
        <div class="ml-2 text-xl font-semibold italic text-am-main-blue-dark">
          Consumos {{ currentLabel }}
        </div>
      </div>

 <div class="flex flex-wrap gap-2 items-center justify-end w-full sm:w-auto">

  <!-- RANGO DE FECHAS DE LECTURA -->
  <mat-form-field
    appearance="outline"
    style="--mdc-outlined-text-field-outline-color: transparent;
           --mdc-outlined-text-field-hover-outline-color: transparent;
           --mdc-outlined-text-field-focus-outline-color: transparent;"
     class="w-40 mt-[18px]" 
  >
    <mat-label>Desde</mat-label>
    <input matInput type="date"
           [value]="component$.filters.startReadingDate"
           (change)="startDateChange($event)" />
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    style="--mdc-outlined-text-field-outline-color: transparent;
           --mdc-outlined-text-field-hover-outline-color: transparent;
           --mdc-outlined-text-field-focus-outline-color: transparent;"
     class="w-40 mt-[18px]" 
  >
    <mat-label>Hasta</mat-label>
    <input matInput type="date"
           [value]="component$.filters.endReadingDate"
           (change)="endDateChange($event)" />
  </mat-form-field>

  
  

  <!-- BÚSQUEDA -->
  <app-search-box
    [searchOptions]="component$.searchOptions"
    [currentValue]="component$.filters.textFilter"
    (search)="search($event)"
  />
 <div class="flex gap-2 flex-wrap items-end">
        <app-split-button
          [configButtons]="component$.filterButtons"
          (doThisFunction)="resetButton($event)"
        />
      </div>
  <!-- EXPORTACIÓN -->
  <div>
    <app-export-excel
      [url]="getDownloadUrl"
      [getInputs]="component$.getInputs"
      [filename]="exportFilename"
    ></app-export-excel>
  </div>
  
</div>


    </div>

    <mat-tab-group (selectedIndexChange)="onTabChange($event)" >
      <mat-tab label="Energía"></mat-tab>
      <mat-tab label="Gas"></mat-tab>
      <mat-tab label="Agua"></mat-tab>
    </mat-tab-group>

    <div class="flex justify-between flex-wrap gap-4 mt-2">
   <div class="flex gap-2 flex-wrap items-end">
     
      </div>
      <div class="flex items-end">
        <app-generic-button
          [infoButton]="component$.actionButton"
          (clickButton)="newRecord()"
        />
      </div>
    </div>
  </div>

  <div class="bg-white rounded-2xl shadow-xl p-6 flex flex-col gap-2 overflow-hidden mb-12">
    <div class="h-full overflow-auto">
      <app-list-table
        (rowClick)="rowClick($event)"
        [service]="consumptionService"
        [columns]="component$.tableColumns"
        [sortBy]="component$.initialSort"
        [sortDir]="component$.initalSortDir"
        [getInputs]="component$.getInputs"
      />
    </div>
  </div>
</div>
