<div class="sir-laminaire-wrapper">
  <div class="sir-laminaire-grid">
    <mat-card
      *ngFor="let card of cards"
      class="sir-card"
      appearance="outlined"
      (click)="openDialog(card)"
    >
      <!-- Header -->
      <mat-card-header class="sir-card-header">
        <mat-card-title class="sir-card-title">
          {{ card.title }}
        </mat-card-title>
      </mat-card-header>

      <!-- Icono centrado -->
      <div class="sir-card-icon">
        <mat-icon>{{ card.icon }}</mat-icon>
      </div>

      <!-- Footer -->
      <mat-card-actions class="sir-card-footer">
        <button mat-button class="sir-ver-mas">Ver Lista</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- Modal con acordeones -->
<ng-template #cardDialog let-data>
  <h2 mat-dialog-title class="flex items-center gap-2 text-xl font-medium">
    <mat-icon>{{ data.icon }}</mat-icon>
    <span>{{ data.title }}</span>
  </h2>

  <mat-dialog-content class="custom-dialog-content">
    <div class="accordion-grid">
      <ng-container *ngFor="let column of getColumns(data.menuSections, 3)">
        <div class="accordion-column">
          <mat-accordion multi>
            <mat-expansion-panel *ngFor="let section of column">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ section.title || 'Opciones' }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="accordion-items">
                <button
                  mat-stroked-button
                  color="primary"
                  *ngFor="let item of section.items"
                  (click)="onNavigate(item.link)"
                >
                  {{ item.label }}
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </ng-container>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-flat-button color="warn" (click)="closeDialog()">Salir</button>
  </mat-dialog-actions>
</ng-template>
