<div class="text-am-purple md:text-sm text-xs" *ngIf="!isLoading && withLabel">
    {{label}}
    <ng-container *ngIf="mode!= 'read'">
        <span *ngIf="required" class="text-red">*</span>
    </ng-container>
</div>

<div class="animate-pulse bg-am-grey-light rounded h-5 min-w-36" *ngIf="isLoading && withLabel">
</div>
<form appearance="outline" class="w-full " *ngIf="!isLoading">
    <div class="flex items-center justify-center bg-white border border-am-main-blue-light rounded-2xl overflow-hidden w-full mx-auto h-11">
        <span class="md:text-sm text-xs text-am-gray w-12"
            *ngIf="prefix_suffix.mode === 'prefix' && prefix_suffix.label !== ''">{{prefix_suffix.label}}</span>
        <input 
            matInput type="text" 
            [placeholder]="placeholderValue" 
            [formControl]="inputControl" autocomplete="off" 
            class="desktop border-0 h-11 ml-2 outline-none placeholder:text-secondary text-sm bg-card flex-auto">
        <span class="md:text-sm text-xs text-am-gray w-12" 
            *ngIf="prefix_suffix.mode === 'suffix' && prefix_suffix.label !== ''">{{prefix_suffix.label}}</span>
    </div>
    <mat-error *ngIf="inputControl.hasError('required')">*Este campo es obligatorio. </mat-error>
    <mat-error *ngIf="inputControl.hasError('IsNotNumber')">*Soló se admiten números. </mat-error>
    <mat-error *ngIf="inputControl.hasError('alphanumeric')">*No se admiten caracteres especiales</mat-error>
    <mat-error *ngIf="inputControl.hasError('whitespace')">*No puede contener solo espacios en blanco.</mat-error>
    <mat-error *ngIf="inputControl.hasError('IsNotTextOrSpace')">*No se admite números ni caracteres especiales</mat-error>
    <mat-error *ngIf="inputControl.hasError('hasNumber')">*Debe contener al menos un número</mat-error>
    <mat-error *ngIf="inputControl.hasError('hasCapitalCase')">*Ingrese al menos una letra mayúscula</mat-error>
    <mat-error *ngIf="inputControl.hasError('hasSmallCase')">*Ingrese al menos una letra minúscula</mat-error>
    <mat-error *ngIf="inputControl.hasError('hasSpecialCharacters')">*Debe contener al menos un caracter especial</mat-error>
    <mat-error *ngIf="inputControl.hasError('minlength')">*Ingrese al menos {{inputControl.errors!.minlength.requiredLength}} dígitos.</mat-error>
    <mat-error *ngIf="inputControl.hasError('maxlength')">*Máximo {{inputControl.errors!.maxlength.requiredLength}} dígitos permitidos. </mat-error>
    <mat-error *ngIf="inputControl.hasError('notValidRUC')">*Ingrese un número de RUC válido.</mat-error>
</form>

<div class="animate-pulse bg-am-grey-light rounded h-13 mt-1 min-w-36" *ngIf="isLoading">
</div>